body {
    scroll-behavior: smooth;
    margin-left: 70px;
    scroll-snap-type: y mandatory;
}
ul
{
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(51, 153, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(91, 47, 238) ;
  }

html
{
    scroll-behavior: smooth;  
    
}
#gallery {
    position: relative;
}
#service .fixedimg
{   position: absolute;
    background: url('../images/animation1.jpg');
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#gallery .galleryfixedimg
{   position: absolute;
    background: url('../images/animation3.jpg');
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
#contact .contactfixedimg
{   position: absolute;
    background: url('../images/animation4.jpg');
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}
.fixedbg
{
     background: url('../images/cover.svg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 100vh;
    position: fixed;
}

nav {
    width: 70px;
    height: 100vh;
    position: fixed;
    left: 0;
    background: #262626;
}

nav .logo .fa {
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 20px;
}

nav .menu-container {
    position: relative;
    height: 100%;
}
nav ul {
    list-style-type: none;
    padding: 0px;
    color: red;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

}

nav ul li {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    text-align: center;
    
}

/* Styles for the section. */
section {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
}

.home {
    position: relative;
    scroll-behavior:  smooth;
}
.home .webixels-logo {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.animation{
    width:400px; 
    position: absolute;
    bottom: 40px;
    left: 50px;
    text-align: center;
    color: white;
}
.animation img
{
    width: 350px;
    height: 300px;
   
}
.servicelist
{
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}

.servicelist li
{
    list-style: none;
    background: rgba(0,0,0,.6);
    padding: 30px 30px 30px 30px;
    margin-bottom: 5px;
    border-radius: 5px;
    color: aliceblue;
    transition: all .2s ease-in;

}
#service .arrow .material-icons {
    color: white;
    font-size: 90px;
    transition: all .2s ease-in;
}
#service .arrow .material-icons:hover {
    color: rgba(0,0,0,.9)
}

.servicelist li:hover {
    cursor: pointer;
    background: rgba(0,0,0,.9);
}
.servicelist .dot
{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    /* border-bottom-right-radius: 50%; */
    background-color: white;
    display: inline-block;
    margin-right: 80px;
}
#service .arrow i
{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50);
    color:rgba(0,0,0,.6);
    font-size: 50px;
    cursor: pointer;
}
#contact form{
    position: absolute;
    width: 300px;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
}
#contact .form-control
{
background: rgba(0,0,0,.6);
border: none;
color:gainsboro;
}
#contact .btn-primary
{
background:  rgba(193,193,193,0.6); 
}
#contact .map
{
position: absolute;
bottom: 0%;
right: 0%;
z-index: -1;
overflow: hidden;

}
#contact iframe
{
    width: 100vw;

}
#index .carousel-control-next-icon, .carousel-control-prev-icon
{
display: none;
}
#index .carousel-indicators li
{
margin-bottom: 10px;
}

.scroll-gallery {
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    width: 400px;
    height: 97%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.scroll-gallery .scroll-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 15px -5px black;
}

/* Styles for services.html. */
.services {
    position: relative;
}

.services .animation {
    text-align: justify;
}

.developing {
    position: absolute;
    right: 20%;
    top: 20%;
    
    
}

.people {
    position: absolute;
    right: 10%;
    bottom: 10%;
}
.mobnav
{
    display: none;
}


/* moble bg */
.mobbg{
    background: url('../images/mobbg.svg');
    background-repeat: no-repeat; 
    background-attachment: fixed;
    position: fixed;
    display: none;
    bottom: 0;
    height: 50vh;
}

.mobile-scroll {
    display: none;
}

@media (max-width: 560px) {
    .mobnav
    {   display: block;
        position: fixed;
        width: 100%;
        background: #262626;
        bottom: 0;
        z-index: 1;
    }
    .mobnav svg {
        height: 50px;
    }
.mobnav img
{
    padding-bottom:4px;
    padding-top: 4px; 
}
    .mobnav ul{
        list-style-type:none;
        text-align: center;
        padding: 0;
        margin-bottom: 0;

    }
    .mobnav li{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        
        
            }
    nav {
display: none
    }
    body {
        padding-bottom: 0px;
        margin: 0;
        /* overflow: hidden; */  

    }
    .home {
        width: 100vw;
    }
    .mobbg{
        display: block;
    }
    .home .webixels-logo {
        height: 150px;
        position: absolute;
        left: 50%;
        top: 10%;
        transform: translateX(-50%)

    }
    .fixedbg
    {
        display: none;
    }
    .animation {
        width: 300px; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        color: white;
        padding: 20px 0px;
    }
    .animation img {
        width: 200px;
        height: auto;
    }
    
    .walking {
        display: none;
    }
    .carousel-item h3 {
        font-size: 1em;
    }
    .carousel-item {
        font-size: 1em;
    }

    #service .fixedimg {
    }
    .animation-title {
        position: absolute;
        top: 0%;
        left: 20%;
    }
    .animation-title h3 {
        color: black;
        color: grey;
    }

    /* mobserv */
    .mobserv
    {   position: absolute;
        bottom: 20%;
       
        color: #f3f2f2;
        text-align: center;

    }
    .mobserv img
    {
        width: 20%;
    }
    .mobserv h3 {
        font-size: 1.2em;
    }
    .mobserv p {
        font-size: .8em;
    }
    .mobport h3 {
        font-size: 1.2em;
    }
    .mobport p {
        font-size: .8em;
    }
    .mobport img {
        width: 20%;
    }
    .mobcontact h3 {
        font-size: 1.2em;
    }
    .mobcontact p {
        font-size: .8em;
    }
    .mobcontact img {
        width: 20%;
    }
    .contactform {
        height: 200px;
        width: 90%;
        right: 0;
        top: 0;
    }

    #contact form {
        width: 70%;
        left: 50%;
        top: 5%;
        transform: translateX(-50%);
    }
    .map
        {
        display: none;
        }
    #service .arrow .material-icons
    {
        color: white;
        font-size: 40px;
        top: 19%;
        right: 2%;
    }
    .scroll-gallery {
        width: 100%;
        top: 20%;
        right: inherit;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap;
        height: 200px;
    }
    .scroll-gallery .row {
        height: 100%;
    }
    .scroll-gallery .scroll-image {
        height: 100%;
        width: auto;
    }
    .web-scroll {
        display: none;
    }
    .mobile-scroll {
        display: block;
        height: 100%;
        margin-left: 50px;
    }

    .servicelist {
        width: 250px;
        left: 50%;
        top: 6%;
        transform: translateX(-50%);
    }
    .servicelist li {
        font-size: .8em;
        padding: 10px;
    }
    .servicelist .dot {
        margin-right: 10px;
    }
    

/* 
    #gallery .galleryfixedimg {
        display: none;
    }
    #gallery .scroll-gallery {
        display: none;
    } */

}


.gon:hover {
    fill: #007bff;
    stroke: blue;
}
/* inner page portfolio */
.cd{
    margin: 30px;
    padding-bottom: 50px;
}
.cd img
{
  width: 100%;
  margin: auto;
  box-shadow: 4px 4px 8px -5px #646464;
  
}
.portfolioimg
{
    display: block;
    margin: auto;
}
.pagenext
{
    padding-top: 30px;
    font-size: 1.5em;

}

.pagenext i{
    cursor: pointer;
}
